.navbar-static-top {
    border-bottom: 1px solid #222D32!important;
}

.new-table-container {
    padding: 10px;
    position: relative;
    text-align: center;
}

.table-controls {
    position: absolute;
    height: 50px;
    width: 150px;
    text-align: center;
    top: -51px;
    left: 30%;
    z-index: 1031;
}

.new-field-type {
    border: 1px solid #CACACA;
    height: 150px;
    padding: 20px;
    padding-top: 30px;
    text-align: center;
}

.new-table {
text-align: left;}

input#newField {
    width: 200px;
}

input#importTable {
    width: 200px;
}

.fields-container-scroller {
    border: 1px solid #CACACA;
    height: 150px;
    padding: 20px;
    padding-top: 30px;
    text-align: left;
    overflow-x: scroll;
    overflow-y: hidden;
}

.new-field {
    min-width: 169px;
    min-height: 90px;
    background: gainsboro;
    padding: 2px;
    padding-right: 30px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.field-conrols {
    position: absolute;
    right: -1px;
    width: 30px;
    height: 100%;
    top: 3px;
    padding-top: 28px;
}

.field-conrol {
    width: 26px;
    height: 26px;
    text-align: center;
    background: white;
    border: 1px solid #CACACA;
    padding-top: 0px;
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 18px;
}

.table-control {
    width: 50px;
    display: inline-block;
    height: 50px;
    vertical-align: top;
    border-radius: 50%;
}

.table-control i {
padding-top: 12px;font-size: 25px;color: white;}

.fields-container {
    width: auto;
    white-space: nowrap;
}

.save {
    background: green;
}

.cancel {
    background: #BF0404;
}


.delete-field {
    color: #BF0404;
}
.ui-resizable-handle {
    height: 26px;
    width: 26px;
    background-color: #FFFFFF;
    cursor: move;
    position: absolute;
    top: 2px;
    right: 2px;
    border: 1px solid #CACACA;
    text-align: center;
}
.placeholder {
    display:inline-block;
    height: 1px !important;
}
input#fieldName {
    width: 100%;
}

.resizable {
    position: relative;
    width: 169px;
    min-width: 169px;
    display: inline-block;
}