.navbar-static-top {
    border-bottom: 1px solid #222D32!important;
}

.new-table-container {
    padding: 10px;
    position: relative;
    text-align: left;
}

.table-controls {
    position: absolute;
    height: 50px;
    width: 150px;
    text-align: center;
    top: -51px;
    left: 30%;
    z-index: 1031;
}

.new-field-type {
    border: 1px solid #CACACA;
    height: 150px;
    padding: 20px;
    padding-top: 30px;
    text-align: center;
}

.new-table {text-align: left;display: inline-block;width: 100%;background: #D2D1D1;padding-bottom: 10px;}

input#newField {
    width: 200px;
}

input#importTable {
    width: 200px;
}

.fields-container-scroller {
    border: 1px solid #CACACA;
    height: 150px;
    padding: 20px;
    padding-top: 30px;
    text-align: left;
    overflow-x: scroll;
    overflow-y: hidden;
}

.new-field {
    min-width: 169px;
    min-height: 90px;
    background: gainsboro;
    padding: 2px;
    padding-right: 30px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.field-conrols {
    position: absolute;
    right: -1px;
    width: 30px;
    height: 100%;
    top: 3px;
    padding-top: 28px;
}

.field-conrol {
    width: 26px;
    height: 26px;
    text-align: center;
    background: white;
    border: 1px solid #CACACA;
    padding-top: 0px;
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 18px;
}

.table-control {
    width: 40px;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: 5px;
}

.table-control i {
padding-top: 7px;font-size: 25px;color: white;}

.fields-container {
    width: auto;
    white-space: nowrap;
}

.save {
    background: green;
}

.cancel {
    background: #BF0404;
}


.delete-field {
    color: #BF0404;
}
.ui-resizable-handle {
    height: 26px;
    width: 26px;
    background-color: #FFFFFF;
    position: absolute;
    top: 2px;
    right: 2px;
    border: 1px solid #CACACA;
    text-align: center;
}
.placeholder {
    display:inline-block;
    height: 1px !important;
}
input#fieldName {
    width: 100%;
}

.resizable {
    position: relative;
    width: 169px;
    min-width: 169px;
    display: inline-block;
    margin-right: 20px;
}

.ui-resizable-handle i {
    font-size: 18px;
    padding-top: 3px;
}

.main-sidebar {
    position: absolute;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
    padding-top: 0px;
    display: inline-block;
    top: initial;
}

div#rightContainer {
    overflow-y: auto;
    vertical-align: top;
    margin: 0px;
    height: 100%;
    padding-top: 35px;
    background: white;
}

.wrapper {
    position: relative;
    height: 100%;
    padding-top: 50px;
    background: white;
}

.main-header {
    position: absolute;
    top: 0px;
    width: 100%;
}

body {
    height: 100vh;
}

.main-body {
    height: 100%;
    position: relative;
    padding-left: 230px;
    background: white;
}

.form-group {
    float: none!important;
}

.action-buttons {
    position: absolute;
    top: 0px;
    width: 140px;
    padding: 5px;
    background: white;
    left: 90px;
    z-index: 1000;
    border-bottom-left-radius: 5px;
    border-top: 1px solid black;
}

.action-buttons {}

#okButton {
    margin-right: 8px;
}

.action-buttons input {
    margin-left: 10px;
}

.new-table-header {
    position: absolute;
    /* top: -40px; */
    left: 0px;
}

.new-table {}

.new-table input {
    width: 200px;
}

.form-container {padding: 10px;height: 100%;}

.form-selector,.grid-selector {
    display: inline-block;
    width: 250px;
    text-align: center;
    height: 110px;
    position: absolute;
    top: 0px;
}

.forms-list, .grids-list {
    overflow: hidden;
    overflow-y: auto;
    height: 77px;
    border: 1px solid;
    text-indent: 10px;
    text-align: left;
    line-height: 25px;
}

.forms-list ul,.grids-list ul {
    margin: 0px;
    padding: 0px;
}

.forms-list ul a,
.grids-list ul a {
    display: block;
}

.forms-list li:hover,
.grids-list li:hover {
    background-color: #CACACA;
}

.form-designer-container {
    padding-top: 0px;
    background: white;
    height: 100%;
}

div#sidebar-wrapper {
    /* background: white; */
    border: 1px solid;
}

div#page-content-wrapper {
    text-align: center;
}


#addLabel {
    margin-top: 5px;
    width: 81px;
    text-align: left;
    display: inline-block;
    line-height: 35px;
    background-color: white;
    color: black;
    border-radius: 3px;
    text-indent: 10px;
    cursor: pointer;
    float: left;
    height: 35px;
}

#addLabel:before {
    content: 'Add label';
}

#Add {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    right: 9px;
    background-image: url('../../FormMaker/images/plus.png');
    background-color: white;
    padding: 5px;
    box-sizing: content-box;
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
}

#Add:hover {
    background-color: rgb(146, 180, 224);
}


.new-form-container {
    position: relative;
    height: 100%;
    padding-top: 110px;
}

.form-designer-container li.sidebar-brand a {
    height: 45px;
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 98px;
}

.form-designer-container .sidebar-menu>li:hover>a {
    border-left-color: transparent;
    background: initial;
    color: #b8c7ce;
}

iframe#formDesigner {
    width: 100%;
    height: 100%;
    border: 0px;
}

#formDesigner body {
    margin: 0px;
}

.table-icons {
    position: static!important;
    line-height: 35px;
    text-align: center;
}

div#wrapper {
    padding-left: 230px;
}

.table-icons.form {
    border: 1px solid;
    border-radius: 4px;
    height: 28px;
    line-height: 26px;
    margin-top: -5px!important;
}

.scroller {
    width: 100%;
}

td.option.field {
    width: 230px;
}

.grid-selector {
    position: relative;
}

.table-details {
    display: inline-block;
    margin-left: 50px;
}