<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    .modal-header-primary {
        color: #fff;
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #428bca;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
</style>
<script src="FL_ui/js/jquery-1.11.1.js" type="text/javascript"></script>
<script src="FL_ui/js/underscore.js"></script>
<script src="FL_ui/js/bootstrap.min.js"></script>

<!--<link type="text/css" rel="stylesheet" href="FL_ui/css/parsley.css"/>-->
<link href="FL_ui/css/FLreadable.css" rel="stylesheet">

<script src="FL_ui/js/FLCommon2.js"></script>
<script src="FL_ui/js/FLmodal2.js"></script>

<script id="getLookupTableAndField3" type="text/template">
    <div class="getLookupTableAndField3" style="margin-top:0px;">
        <form id="form_getLookupTableAndField3" >
            <legend>Please define your lookup:</legend>
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group" style="line-height:0px;">
                        <span class="input-group-addon">Name:</span>
                        <input type="text" class="form-control" id="getLookupTableAndField3_name"
                               placeholder="ex:Client"
                               value="<%= master.name %>" >
                        <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    </div>
                    <div class="input-group" style="line-height:0px;">
                        <span class="input-group-addon">Entity for lookup:</span>

                        <div class="btn-group" style="width:100%">
                            <a class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"
                               style="font-size:14px;font-weight:bold;margin-right:-4.0em;display:inline-block;height:100%;"
                               id="getLookupTableAndField3_table" href="#"> <%= master.table %> <span
                                    class="caret"></span></a>
                            <ul id="getLookupTableAndField3_table_options" class="dropdown-menu"></ul>
                        </div>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                    </div>
                    <div class="input-group" style="line-height:0px;">
                        <span class="input-group-addon">Field to lookup:</span>

                        <div class="btn-group" style="width:100%">
                            <a class="btn btn-default  btn-block dropdown-toggle" data-toggle="dropdown"
                               id="getLookupTableAndField3_field" href="#"> <%= master.field %> <span
                                    class="caret"></span></a>
                            <ul id="getLookupTableAndField3_field_options" class="dropdown-menu"></ul>
                        </div>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>
<script id="getSurname" type="text/template">
    <div class="getSurname" style="margin-top:0px;">
        <form id="form_getSurname" novalidate="novalidate">
            <legend>Please choose your surname:</legend>
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group" style="line-height:0px;">
                        <span class="input-group-addon">Surname to choose:</span>
                        <div class="btn-group" style="width:100%">
                            <a class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"
                               style="font-size:14px;font-weight:bold;margin-right:-4.0em;display:inline-block;height:100%;"
                               id="getSurname_surname" href="#"> <%= master.table %> <span
                                    class="caret"></span></a>
                            <ul id="getSurname_surname_options" class="dropdown-menu"></ul>
                        </div>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>
<body>
<script>
    $(document).ready(function () {
//         FL.modal.externalTest("Hello");
        FL.common.debug = false; ////if true shows all FL.common.printToConsole() independentely of filters  ->fallsback to console.log - if false =>only debugFilterToShow will appear
        FL.common.debugFiltersToShow = ["modalIn"];
        var masterDetailItems = {
            master: {
                name: "Joakim",
                table: "table A",
                table_options: [{value: 0, text: "table A", op: "A"}, {value: 0, text: "table B", op: "B"}],
                field: "field 1",
                field_options: [{value: 0, text: "field 1"}, {value: 0, text: "field 2"}],
            }
        };
        var options = {
            type: "primary",
            icon: "th-list",
            button1: "Cancel",
            button2: "Confirm lookup data",
            preField: {
                name: function (thisModalIn) {
                    thisModalIn.test("BEGIN click name");
                    FL.common.printToConsole("=====================================>user code in preField (name)", "modalIn");
//                    FL.common.printToConsole("click code for name in options content=" + thisModalIn.getFieldFromStore("name"), "modalIn");
//                    FL.common.printToConsole("click code for name in options content=" + thisModalIn.getFieldFromStore("table"), "modalIn");
//                    FL.common.printToConsole("click code for name in options content=" + thisModalIn.getFieldFromStore("field"), "modalIn");
                    thisModalIn.test("END click name");
                },
                table: function (thisModalIn) {
                    FL.common.printToConsole("=====================================>user code in preField (table)", "modalIn");
//                    var newField_options = [{value: 0, text: "new field 1"}, {value: 1, text: "new field 2"}];
                },
                field: function () {
                    FL.common.printToConsole("=====================================>user code in preField (field)", "modalIn");
                },
            },
            posField: {
                name: function (thisModalIn) {
                    thisModalIn.test("BEGIN posField name");
                    FL.common.printToConsole("=====================================>user code in posField (name)", "modalIn");
                    var x = thisModalIn.getFieldFromDisplay("name");
                    FL.common.printToConsole("posField code for name in options content=" + x, "modalIn");
                    FL.common.printToConsole("posField code for name in options content=" + thisModalIn.getFieldFromStore("table"), "modalIn");
                    FL.common.printToConsole("posField code for name in options content=" + thisModalIn.getFieldFromStore("field"), "modalIn");
                    var xName = thisModalIn.get("name");
                    thisModalIn.set("name", xName + " Oliveira");
                    if (thisModalIn.get("name") == "Joao Oliveira") {
                        thisModalIn.set("name", "Joao Carlos Oliveira");
                        thisModalIn.set("table", "Table Joao Carlos Oliveira");
                        thisModalIn.setOptions("table_options", [{value: 0, text: "JCO table A", op: "A"}, {
                            value: 0,
                            text: "JCO table B",
                            op: "B"
                        }]);
                    } else {
                        if (thisModalIn.get("name") == "Nico Oliveira") {
                            var options = {
                                type: "primary",
                                icon: "th-list",
                                button1: "Cancel",
                                button2: "Confirm surname"
                            }
                            var md = {
                                master: {
                                    surname: "select one surname from the list",
                                    surname_options: [{value: 0, text: "Cuvillier", op: "Cuv"}, {value: 1, text: "Oliveira", op: "Oli"}, {value: 2, text: "Almeida", op: "Al"}],
                                }
                            };
                            var surnameModal = new FL.modal.box("Surname selection", "getSurname", md, options, function (result,data) {
                                if (result) {
                                    alert("surname=" + JSON.stringify(data.master));
                                }
                            });
                            surnameModal.show();
                        }
                        thisModalIn.set("table", "Table " + xName);
                        thisModalIn.setOptions("table_options", [{
                            value: 0,
                            text: xName + " table A",
                            op: "A"
                        }, {value: 0, text: xName + " table B", op: "B"}]);
                    }
                    thisModalIn.test("END posField name");
                },
                table: function (thisModalIn) {
                    FL.common.printToConsole("=====================================>user code in posField (table)", "modalIn");
                    var xTable = thisModalIn.get("table");
//                    var newField_options = [{value: 0, text: xTable+" new field 1"}, {value: 1, text: xTable+" new field 2"}];
                },
            },
            option: {
                table_options: function (thisModalIn, selected) {//selected returns the object corresponding to the selected option
                    FL.common.printToConsole("=====================================>user code in option (table_options)", "modalIn");
                    var xTable = thisModalIn.get("table");
                    if (selected.op == "A")
                        thisModalIn.setOptions("field_options", [{
                            value: 0,
                            text: xTable + " A->field 1"
                        }, {value: 0, text: xTable + " A->field 2"}]);
                    if (selected.op == "B")
                        thisModalIn.setOptions("field_options", [{
                            value: 0,
                            text: xTable + " B->field 1"
                        }, {value: 0, text: xTable + " B->field 2"}]);
                },
                field_options: function (thisModalIn, selected) {
                    FL.common.printToConsole("=====================================>user code in option (field_options)", "modalIn");
                    FL.common.printToConsole("********************>user code field_options --> content=" + JSON.stringify(selected), "modalIn");
                },
            },
         };
         var masterDetailItems2 = {
            master: {
                name: "Afonso d'AlBu Queque",
                table: "table AfonsoA",
                table_options: [{value: 0, text: "tab A", op: "A"}, {value: 1, text: "tab B", op: "B"}],
                field: "field Afonso1",
                field_options: [{value: 0, text: "field 1"}, {value: 1, text: "field 2"}]
            }
        };
        var MyModal = new FL.modal.Box("MODAL 1", "getLookupTableAndField3", masterDetailItems2, options, function (result,data) {
            if (result) {
                 alert("MyModal Master  " + JSON.stringify(data.master));
            }
        });
        MyModal.show();

        var options2 = {
            type: "primary",
            icon: "th-list",
            button1: "Cancel",
            button2: "Confirm surname"
        }
        var md = {
            master: {
                surname: "select one surname from the list",
                surname_options: [{value: 0, text: "Cuvillier", op: "Cuv"}, {value: 1, text: "Oliveira", op: "Oli"}, {value: 2, text: "Almeida", op: "Al"}],
            }
        };
//        var surnameModal = new FL.modal.Box("Surname selection", "getSurname", md, options2, function (result,data) {
//            if (result) {
//                alert("surname=" + JSON.stringify(data.master));
//            }
//        });
//        surnameModal.show();

    });
</script>
</body>
</html>