.toggleBtn {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -1px;
    z-index: 99999;
}

div#page-content-wrapper {
    position: relative;
    height: 100%;
    padding: 0px;
}
#wrapper a#menu-toggle:before{
    content: "<";
}

#wrapper.toggled a#menu-toggle:before {
    content: ">";
}



a#menu-toggle {
    width: 35px;
    height: 35px;
}

.sidebar-nav > .sidebar-brand {
    height: 45px;
}

.sidebar-nav > .sidebar-brand a {
    height: 45px;
    line-height: 45px;
    /* color: white; */
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 141px;
}

#properties td {
    padding: 3px;
}

.sidebar-nav a {
    color: #7B7979;
    text-decoration: none;
}

div#wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    overflow-x: auto;
    /* margin-bottom: 40px; */
    padding-left: 300px;
}

body {
    overflow: hidden;
}

div#buttonContainer {
    position: absolute;
    bottom: 5px;
    display: block;
    width: 100%;
    left: 0px;
    padding-left: 20px;
    text-align: right;
    padding-right: 20px;
}

div#droppable {
    /* border: 1px solid #CACACA; */
    height: 500px;
    width: 100%;
}

h1 {
    margin-top: 0px;
}

.selectbox {
    display: inline-block;
    /* position: relative; */
    border: 1px solid rgb(197, 197, 197);
    min-width: 30px;
    box-sizing: content-box;
    cursor: pointer;
    width: auto;
    text-align: left;
}

.selectedOption {
    padding: 3px;
}

.selectedOption:after {
    content: "\25BC";
    padding-left: 10px;
}

ul.options {
    position: absolute;
    list-style: none;
    padding: 0px;
    /* min-width: 100%; */
    margin: 0px;
    border: 1px solid #CACACA;
    box-sizing: content-box;
    text-align: left;
    /* left: 0px; */
    background: white;
    display: none;
    z-index: 10000;
}

ul.options li {
    line-height: 20px;
    border-top: 1px solid #CACACA;
    padding: 2px;
}

ul.options li:hover {
    cursor: pointer;
    background-color: rgb(186, 218, 247);
}

ul.options li:first-child {
    border-top: 0px solid #CACACA;
}

ul.options.toggled {
    display: inline-block;
}

.entities {
    margin-bottom: 10px;
}


button#loadForm {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 5px;
    margin-right: 20px;
}

.container-fluid {
    overflow-y: auto;
    height: 100%;
    box-sizing: content-box;
    /* max-width: 100%; */
}

.row {
    margin-right: 0px;    
    margin-left: 0px;
}

.col-lg-12 {
    padding: 0px;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

div#sidebar-wrapper {
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}

table#fields {
    overflow-y: auto;
    /* height: 300px; */
}

#Add {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    right: 9px;
    background-image: url('../images/plus.png');
    background-color: white;
    padding: 5px;
    box-sizing: content-box;
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
}

#Add:hover {
    background-color: rgb(146, 180, 224);
}


textarea {
    resize: none;
    vertical-align: top;
}

div#properties {
    height: 237px;
    width: 100%;
}

#type label.btn {
    width: 93px;
    text-align: left;
    padding: 5px;
}

.btn:active, .btn.active {
    /* background: transparent; */
    box-shadow: none;
}

div#type {
    width: 300px;
    background-color: rgb(146, 180, 224);
    color: white;
}

#type label.btn:hover, li a:hover {
    background-color: rgba(36, 44, 194, 0.25);
    color: white;
}

div#droppable > div {
    height: 100%;
    border: 1px solid #CACACA;
    display: inline-block;
    width: 100%;
}

div#contextMenu {
    position: absolute;
    top: -150px;
    left: -500px;
    box-shadow: 1px 1px 2px 1px #CFCFCF;
    min-width: 100px;
    background-color: rgb(128, 127, 127);
    color: white;
    z-index: 99999999;
}

.custom-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-list li {
    line-height: 25px;
    cursor: pointer;
}

.custom-list li * {
    padding-left: 5px;
}

.custom-list li:hover {
    background-color: rgb(203, 203, 203);
    color: black;
}

.input-group {
    height: 35px;    width: 100%;
}

input#value {
    width: 100%;
    height: 35px;
    line-height: 14px;
}


.sidebar-nav li a {
    color: white;
}

.scroller {
    /* max-height: 200px; */
    overflow-y: auto;
    overflow-x: hidden;
    height: 92%;
    /* BACKGROUND-COLOR: rgb(146, 180, 224); */
    width: 299px;
    margin: 0px;
    display: inline-block;
}

div#formRight,#formLeft {
    border: 0px!important;
}

.datePicker {
    height: 35px;
}

.ui-draggable-disabled > div {
    background-color: red!important;
    color: black!important;
    cursor: default!important;
    border-bottom: 3px solid #650404!important;
}

.ui-draggable-disabled:hover {
    /* background-color: red!important; */
    /* color: black!important; */
}

#addLabel {
    margin-top: 5px;
    width: 95px;
    text-align: left;
    display: inline-block;
    line-height: 35px;
    background-color: white;
    color: black;
    border-radius: 3px;
    text-indent: 10px;
    cursor: pointer;
    float: left;
    height: 35px;
}

#addLabel:before {
    content: 'Add label';
}

button#editField {
    position: absolute;
    top: 0px;
    float: left;
    margin-left: 1px;
    display: block;
}

td.option.field {
padding: 10px;padding-bottom: 0px;text-indent: 20px;      line-height: 35px;      width: 300px;      display: inline-block;}

td.option.field > div {
    background-color: #ECECEC;
    border-radius: 3px;
    border-bottom: 3px solid #CACACA;
    color: #5A4E4E;
    text-decoration: none;
    position: relative;
}

td.option.field > div:hover {
    cursor: pointer;
    background-color: #7BACBB;
    border-bottom: 3px solid #488294;
    color: #0A4B5F;
}

.delete-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;
    background-color: #D60E0E;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 50%;
    font-size: 7px;
    transform: rotate(45deg);
    cursor: pointer;
    display: none;
}

#designerCol1 .dropped:hover .delete-icon {
    display: inline-block;
}

.ui-draggable-dragging .edit-field{
    display:none;
}

.edit-field {
    display:inline-block;
    color: gray;
    width: 25px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-indent: 0px;
    top: 5px;
}