.header
{
	width:500px;
	background: #f7f7f7;
	min-height: 50px;
	display: inline-block;
	vertical-align: middle;
	outline: 1px solid #bbb;
}

.template_holder_body
{
	width:500px;
	background: #f7f7f7;
	min-height: 100px;
	display: inline-block;
	vertical-align: middle;
	outline: 1px solid #bbb;
}

.footer
{
	width:500px;
	background: #f7f7f7;
	min-height: 50px;
	display: inline-block;
	vertical-align: middle;
	outline: 1px solid #bbb;
}

.template_holder
{
	 text-align: center;
	 font-family: 'xsphone,phone,xlphone,tablet,xltablet,desktop';
	 font-size: 14px;
	 color: #959595;
	 font-weight: bold;
	 vertical-align: middle;
}

div#toolbarItemsWrapper {
    width: 100%;
    height: 39px;
    background: rgba(92, 92, 92, 0.7);
}

div#move, #edit, #delete, #copy {
    width: 50px;
    display: inline-block;
    background: #7290FA;
    border-radius: 2px;
    color: #FFF;
}
div#copy
{
width: 80px;
    
    
    
    
}

#edit:hover, #copy:hover, #delete:hover {
    cursor: pointer;
    background: #5193C8;
    color: white;
}

.moveable {
    display: inline-block;
    cursor: move!important;
}
div#move {
    cursor: move;
}