<div class="form-selector">
	<label>Forms to select</label>
	<div class="forms-list">
		<ul id="formsList">
			
		</ul>
	</div>
</div>
<div class="form-designer-container" id="formDesignerContainer">
	<div class="main-body" id="wrapper">
	    <div class="main-sidebar" id="sidebar-wrapper">
	        <section class="sidebar">
	            <ul class="sidebar-menu">
	                <li class="sidebar-brand">
	                    <a href=#>Entity Fields</a>
	                    <div id="addLabel"
	                        data-inputType="TextLabel"
	                        data-type="label"
	                        data-label="new Label"
	                        data-name="label-name"
	                        data-enum="null"
	                        data-description="label-description"
	                        data-fieldname="lbl">
	                    </div>
	                    <div id="Add" data-inputType="textbox" data-type="text"></div>
	                </li>
	            </ul>
	            <div class="scroller">
	              <table class="sidebar-nav fields" id="fields">

	              </table>
	            </div>
	        </section>
	    </div>
	    <div id="page-content-wrapper">
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-lg-12">
	                    <h3>Form Designer</h3>
	                    <div id="droppable">
	                        <div id="designerCol1" class="ui-dropppable sortable"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
    <div id="templates" style="display:none">
    </div>
    <div id="designerTemplates" style="display:none">
    </div>
</div>