<div class="wrapper">
	<header class="main-header">
		<!-- Logo -->
		<a href="index.html" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><span class="glyphicon glyphicon-pushpin"></span></span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"> Frame link</span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>

			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<!--<span class="glyphicon glyphicon-user" class="user-image" aria-hidden="true"></span>-->
							<span class="hidden-xs">Kartik Patel</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<li class="pin-board-group" data-id="null">
					<a href="#" id="settings">
						<i class="fa fa-cogs"></i>
						<span data-id="null">Settings</span>
					</a>
				</li>
				<li class="pin-board-group" data-id="null">
					<a href="#" id="contacts">
						<i class="fa fa-flag"></i>
						<span data-id="null">Contacts</span>
					</a>
				</li>
				<li class="pin-board-group" data-id="null">
					<a href="#" id="newTable">
						<i class="fa  fa-plus-square-o"></i>
						<span data-id="null">New table</span>
					</a>
				</li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" id="rightContainer">
		
	</div>
</div>
<!-- ./wrapper -->
