<div class="resizable" data-id="{{id}}" id="field-{{id}}" style="width:{{width}}px">
	<div class="new-field">
		<input type="text" data-id="{{id}}" class="field-name" id="fieldName" placeholder="enter field name" value="{{fieldName}}">
		<div class="field-conrols">
			<div class="field-conrol edit-field" data-id="{{id}}">
				<i class="fa fa-fw fa-pencil"></i>
			</div>
			<div class="field-conrol delete-field" data-id="{{id}}">
				<i class="fa fa-fw fa-times-circle"></i>
			</div>
		</div>
	</div>
</div>