<div class="form-group new-table table-name col-xs-4">
    <div class="grid-selector">
        <label>Grids to select</label>
        <div class="grids-list">
            <ul id="gridsList">
                
            </ul>
        </div>
    </div>
    <div class="table-details">
        <label for="tableName">Table name :</label>
        <input type="text"  class="form-control" id="tableName" placeholder="enter table name" value="{{tableName}}">
        <br/>
        <label for="rowName">Each Row is a :</label>
        <input type="text"  class="form-control" id="rowName" placeholder="enter Row name" value="{{rowName}}">
    </div>
</div>
<div class="form-group new-field-type col-xs-12">
	<div class="new-table-field-btn col-xs-5">
	    <label for="newField">Create table fields clicking the plus sign.</label><br/>
	    <input type="button"  class="form-control btn btn-default " id="newField" value="Add new field">
    </div>
    <label class="col-xs-2"> OR </label>
    <div class="import-table-field-btn col-xs-5">
    	<label for="importTable">Import table from an existing spreadsheet.</label><br/>	
	    <input type="button"  class="form-control btn btn-primary" id="importTable" value="Import table">
    </div>
</div>
<div class="form-group fields-container-scroller col-xs-12">
	<div class="fields-container" id="fieldsContainer">

	</div>
</div>