<html>

<head>
    <title>Form Designer </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <style>
        .modal-header-primary {
            color: #fff;
            padding: 9px 15px;
            border-bottom: 1px solid #eee;
            background-color: #428bca;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    </style>
    <link rel="stylesheet" href="../mailer/css/jquery-ui-1.10.4.custom.min.css"/>
    <link href="../mailer/css/jquery-ui-timepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../mailer/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/simple-sidebar.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!--<script src="../mailer/js/lib/jquery-1.11.0.js"></script>-->
    <script src="../FL_ui/js/jquery-1.11.1.js"></script>
    <script src="../mailer/bootstrap/js/bootstrap.min.js"></script>
    <link href="../FL_ui/css/bootstrap-dialog.css" rel="stylesheet" type="text/css" />

    <script src="../mailer/js/lib/jquery-ui-1.10.4.js"></script>
    <script src="../mailer/js/lib/jquery-ui-timepicker.js"></script>

    <script src="../mailer/js/lib/ckeditor/ckeditor.js"></script>
    <script src="../mailer/js/lib/underscore.js"></script>
    <script src="../mailer/js/lib/backbone.js"></script>


    <script src="../mailer/js/lib/handlebars-v1.3.0.js"></script>

    <script src="../FL_ui/js/FLSlidePanels.js"></script>
    <!--<script src="../FL_ui/js/bootstrap.min.js"></script>-->
    <script src="../FL_ui/js/spin.min.js"></script>
    <script src="../FL_ui/js/FLMenu2.js"></script>
    <script src="../FL_ui/js/FLlogin2.js"></script>
    <script src="../FL_ui/js/FLCommon2.js"></script>
    <script src="../FL_ui/js/FLdd2.js"></script>
    <script src="../FL_ui/flClient/flClient.js"></script>
    <script src="../FL_ui/flClient/ajaxBrowser.js"></script>
    <script src="../FL_ui/js/FLAPI.js"></script>
    <script src="../FL_ui/js/FLmodal2.js"></script>


    <script src="js/FormDesigner.js"></script>
    <script src="../mailer/js/DragNDrop.js"></script>
    <script src="js/common.js"></script>
    <script src="js/FormMaker.js"></script>
    <script src="js/LabelElement.js"></script>

    <script src="js/models/designer_model.js"></script>
    <script src="js/models/element_model.js"></script>
    <script src="js/models/entity_model.js"></script>
    <script src="js/models/form_maker_model.js"></script>
    
    <script src="js/collections/elements.js"></script>
    
    <script src="js/views/main_view.js"></script>
    <script src="js/views/element_holder.js"></script>
    <script src="js/views/property_panel.js"></script>

</head>
<script id="fieldEdition" type="text/template">
    <div class="fieldEdition" style="margin-top:0px;">
        <form id="form_fieldEdition">
            <legend>Please define this field:</legend>
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group" style="line-height:0px;">
                        <span class="input-group-addon">Field label:</span>
                        <input type="text" class="form-control" id="fieldEdition_fieldLabel"
                               name="fieldLabel" placeholder="Ex. Your full name, Your address, Your email, Your phone..."
                               value="<%= master.fieldLabel %>">
                    </div>
                    <div class="input-group" style="line-height:0px;">
                        <span class="input-group-addon">Attribute:</span>
                        <input type="text" class="form-control" id="fieldEdition_fieldName"
                               name="fieldName" placeholder="Ex. name, address, email, phone..."
                               value="<%= master.fieldName %>">
                    </div>
                    <label class="control-label" for="fieldEdition_fieldDescription"
                           id="fieldEdition_whatIsLabel"> </label>
                    <div class="input-group" style="line-height:0px;">
                        <span class="input-group-addon">Description:</span>
                        <input type="text" class="form-control" id="fieldEdition_fieldDescription"
                               name="fieldDescription" placeholder="Ex. descripton..."
                               value="<%= master.fieldDescription %>">
                    </div>
                    <div>
                        <h4 id="fieldEdition_plural"></h4>
                    </div>
                    <div class="input-group" style="line-height:0px;">
                        <span class="input-group-addon">User Type:</span>
                        <div class="btn-group" style="width:100%">
                            <a class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"
                               id="fieldEdition_userType" href="#"><%= master.userType %> <span class="caret"></span></a>
                            <ul id="fieldEdition_userType_options" class="dropdown-menu"></ul>
                        </div>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href=#>Entity Fields</a>
	                <div class="ui-draggable" id="addLabel"
	                        data-inputType="TextLabel"
	                        data-type="label"
	                        data-label="new Label"
	                        data-name="label-name"
	                        data-enum="null"
	                        data-description="label-description"
	                        data-fieldname="lbl"></div>
	                <div id="Add" class="ui-draggable"
	                     data-inputType="textbox"
	                     data-type="text"></div>
                </li>
            </ul>
            <div class="scroller">
              <table class="sidebar-nav fields" id="fields">
              </table>
            </div>

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href=#>Properties</a>
                </li>
            </ul>
            <div id="properties">

                <table>
                    <tr>
                        <td>Name</td>
                        <td>
                            <input type="text" value="" id="name" />
                        </td>
                    </tr>
                    <tr>
                        <td>Value</td>
                        <td>
                            <input type="text" value="" id="value" />
                        </td>
                    </tr>
                    <tr>
                        <td>Left Label</td>
                        <td>
                            <input type="text" value="" id="leftLabel" />
                        </td>
                    </tr>
                    <tr>
                        <td>Placeholder</td>
                        <td>
                            <input type="text" value="" id="placeholder" />
                        </td>
                    </tr>
                    <tr>
                        <td>Icon</td>
                        <td>
                            <input type="text" value="" id="icon" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tooltip</td>
                        <td>
                            <input type="text" value="" id="tooltip" />
                        </td>
                    </tr>
	                <tr id="labelSettings" style="display:none">
						<td>Type</td>
		                <td>
			                <label>
								<input type="radio" name="labelType" class="label-column" value="1" checked/>1 column
		                    </label>
			                <label>
				                <input type="radio" name="labelType" class="label-column" value="2"/>2 columns
			                </label>
		                </td>
	                </tr>
                </table>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Form Designer</h3>
                            <button id="editField" class="edit btn btn-success glyphicon glyphicon-pencil" title="edit grid columns" style="float: left; margin-left: 1px; display: block;"> table</button>
                            
                        <div class="entities text-center">
                            Entities :
                            <div class="selectbox" id="entities">
                                <div class="selectedOption">select an entity</div>
                                <ul class="options">

                                </ul>
                            </div>
                        </div>
                        <div id="droppable">
                            <div id="designerCol1" class="ui-dropppable sortable"></div><div id="designerCol2" class="ui-dropppable sortable"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggleBtn">
                <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle"></a>
            </div>
            
        </div>

        <!-- /#page-content-wrapper -->
        <div id="buttonContainer">
            <a href="#" class="btn btn-primary" id="load"> Load Form</a>
            <a href="#" class="btn btn-primary" id="save"><span class="glyphicon glyphicon-save"></span> Save Form</a>

        </div>
    </div>

    <div id="templates" style="display:none">
    </div>
    <div id="entitiesTempaltes" style="display:none">
        <script id="entityOption" type="text/x-handlebars-template">
            {{#each entities}}
                <li entity_id="{{csingular}}" class="option entity">{{description}}</li>
            {{/each}}
        </script>
        <script id="fieldsOption" type="text/x-handlebars-template">
            {{#each fields}}
                <tr>
                  <td field_id="field-{{@index}}"
                      class="option field ui-draggable"
                      data-input-type="{{type}}"
                      data-type="{{typeUI}}"
                      data-label="{{label}}"
                      data-name="{{name}}"
                      data-enum="{{#arrayToString enumerable}}{{/arrayToString}}"
                      data-description="{{description}}"
                      data-fieldname="{{fCN}}"
                      cname="{{cname}}">
                          <a href="" class="">{{label}}</a>
                  </td>
                </tr>
            {{/each}}
        </script>
        <script id="preFormMakerDialog" type="text/x-handlebars-template">
            <div>
                Select a record :
                <select class="form-control">
                    {{#each options}}
                        <option value="{{value}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </script>
        <script id="typeTemplate" type="text/x-handlebars-template">
            {{#each this}}
            <label class="btn">
                <input name="fieldType" type="radio" id="{{typeId}}" value="{{typeValue}}" /> {{displayLabel}}
            </label>
            {{/each}}
        </script>
    </div>
    <div id="contextMenu" style="display:none">
        <ul id="menuItems" class="custom-list">
            <li id="delete" class="menuItem"><div>Delete</div></li>
        </ul>
    </div>
</body>

</html>
