/* This stylesheet provides the CSS definition of every widget in Mother */	
/* For each form you can define the widgets introducing the selector Mother_+"form prefix" */	
/*http://sixrevisions.com/css/how-to-create-inset-typography-with-css3/ */
/*http://www.1keydata.com/css-tutorial/cascade.php*/
/* .class1 .class2 = Select any element w/class "class2" that is a descendant of any element that has a class of "class1" */
/*                   in other words - class2 is inside class1 (ascendant -> descendant relationship) */
/* .class1.class2 = Select any element that has both class1 AND class2 */
/* .class1, .class2, .class3 = Select elements of class1 AND class2 AND class3*/
/*http://www.gaeking.de/wordpress/category/webworking/accordionmenu/ */
/*
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
user-select: none;
-ms-user-select: none;
*/
/* ---------- ViewPort fx -----------------------------------------------------------------*/
.claro.Mother .thumbNail .hoverThumbNail{/*not showing coz of DomStyle.set(this.thumbNail, "border", "red"); inside thumbNail.js*/
	border:3px solid #87AF06;
}
.claro.Mother .thumbNail .placeHolder{
	border:1px solid red;
}	
.claro.Mother .dijitTextBox.Mother_fx{/*trata de textBox,label,numberBox,textArea,datetextBox,comboBox-todos os nodes c/dijitTextBox que tenham Mother_f à esquerda*/
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border: 4px inset coral ;/*thickness,border-style,color -  outset inset ridged grooved */
	/*filter:alpha(opacity=50); */
	/*-moz-opacity:0.5; */
	/*-khtml-opacity: 0.5; */
	/*opacity: 0.5;*/ 
	background-color:navajowhite;/*orange sandybrown*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:2.4 em;
	text-shadow: 0px 2px 3px #555;
	padding: 2px 7px 0px 7px;
}
.claro.Mother .dijitContentPane.Mother_fx{/*trata do ContentPane - não esquecer que um tab widget tem contentPanes */
	 /*background-color: burlywood; //goldenrod peru lightsalmon burlywood sandybrown tan*/
	background: url("../images/Blue_hills2.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*.claro.Mother .dijitContentPane{/* DO NOT REMOVE - Necessary to prevent dijit selection effect when dragging handles */
/* selection will be disbled in all elements except: */
/*
.claro.Mother .dijitButton{ /* DO NOT REMOVE - Necessary to prevent dijit selection effect when dragging handles 
	-moz-user-select: none;
	user-select: none;
}
*/
/* NOT WORKING 
.dijitReset, .dijitInputInner, .dijitInputField, .dijitInputContainer { /* DO NOT REMOVE - Necessary to prevent dijit selection effect when dragging handles 
	-moz-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}
*/
/*
.claro.Mother .dijitContentPane { /* DO NOT REMOVE - Necessary to prevent dijit selection effect when dragging handles 
	-moz-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}
*/
/* ---------- ViewPort rd -----------------------------------------------------------------*/
#box {
    height:100px;
    width:100px;
    background:blue;
    color:#000;
}
.claro.Mother .dijitTextBox.Mother_rd{/*trata de textBox,label,numberBox,textArea,datetextBox,comboBox-todos os nodes c/dijitTextBox que tenham Mother_f à esquerda*/
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border: 4px inset coral ;/*thickness,border-style,color -  outset inset ridged grooved */
	/*filter:alpha(opacity=50); */
	/*-moz-opacity:0.5; */
	/*-khtml-opacity: 0.5; */
	/*opacity: 0.5;*/ 
	background-color:navajowhite;/*orange sandybrown*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:2.4 em;
	text-shadow: 0px 2px 3px #555;
	padding: 2px 7px 0px 7px;
}
.claro.Mother .dijitButtonNode.Mother_rd{/* button - selecciona todos os que tenham .dijitButtonNode e Mother_x - NOta é o span abaixo do top container do button*/
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border: 1px solid;
	border: 4px inset coral ;/*thickness,border-style,color -  outset inset ridged grooved */
	 background-color : navajowhite;
	-moz-border-bottom-colors: coral;
	-moz-border-image: green;
	-moz-border-left-colors: coral;
	-moz-border-right-colors: chocolate;
	-moz-border-top-colors: chocolate;
	border-color: -moz-use-text-color green #B5BCC7;
	border-width: medium 2px 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif, bold;
	font-size:2.4 em;
	padding: 2px 7px 0px 7px;
}
/* ---------- Inside accordeon pane -----------------------------------------------------------------*/
.claro.Mother .dijit.Mother_layouttb{  /*.dijitButtonNode*/
	/*width: 100%; !important;*/
	/*height:15px; //!important;*/
	font-weight:bold;
	margin:3px 0px 12px 2px;
	padding:3px 0px;
	font-size:small;/*x-large;*/
}
.claro.Mother .dijit.Mother_toolb{  /*.dijitButtonNode*/
	width: 100% !important;
	height:15px !important;
	font-weight:bold;
	margin:3px 0px 12px 2px;
	padding:3px 0px;
	font-size:small;/*x-large;*/
}
/* ---------- FORM'WIDGETS ALL TEMPLATES  -----------------------------------------------------------------*/

/* --------------------- A BlueTone -Label, textBox, CheckBox -----------------------------------------------------------------*/
.dijitReadOnly * {/*http://dojohacks.blogspot.pt/2013/01/dijit-textbox-styles-normal-readonly.html*/
    background-image: url("images/lock.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px auto;
}
.dijitTextBox.MotherLabel_Null{/*Do not change selector! This will be read by FBuilder*/
	background: transparent;
	padding: 2px;
	/*font:normal bold 12px/30px Georgia, serif;*/
	/*font-family: Rockwell, Georgia, "Times New Roman", Times, serif;*/
	/*font-size: 14px/30px;/* font-size/line-height */
	font-size: 14px;
	font-weight: normal;
	text-align:right;
}
.dijitContentPane.Mother_A {/*container frame A */
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
/*.claro.Mother .MotherLabel_A {/*labels A */
.dijitTextBox.MotherLabel_A .dijitInputInner{/*Do not change selector! This will be read by FBuilder*/
	background: transparent;
	padding: 2px;
	/*font:normal bold 12px/30px Georgia, serif;*/
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	/*font-size: 14px/30px;/* font-size/line-height */
	font-size: 16px;
	line-height:30px;
	font-weight: normal;
	text-align:right;
	/*color:red;*/
}
.dijitTextBox.MotherLabel_A .dijitInputInner._H1{/*H1 highlight selector - it needs .dijitInputInner because dojo sets this class at the most specific level */
	font-size: 22px;
	font-weight: bold;
	color: blue;
}
.dijitTextBox.MotherLabel_A .dijitInputInner._H2{/*H1 highlight selector - it needs .dijitInputInner because dojo sets this class at the most specific level */
	font-size: 25px;
	font-weight: bold;
	color: green;
}

.dijitTextBox.Mother_A .dijitInputInner{/*All textBox,numberBox,textArea,datetextBox,comboBox*/
	background: -moz-linear-gradient(-90deg, #BED0E0, #E5ECF3);
	background: -webkit-gradient(linear, left top, left bottom, from(#BED0E0), to(#E5ECF3));
	background: -ms-linear-gradient(top right, #BED0E0, #E5ECF3);
	background: -o-linear-gradient(top right, #BED0E0, #E5ECF3);
	border-radius: 3px;
	/*border: 2px inset blue;*/
	border-width: 2px;
	border-color: #78838D azure azure #78838D;/*top right bottm left*/
	padding: 2px;
	/*font:normal bold 12px/30px Georgia, serif;*/
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	box-shadow: 1px 1px 5px #CCC;
	/*background:yellow;*/
	color:purple;
}
.dijitCheckBox.Mother_A{/*All checkBoxes*/
 	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid;
	border-color:#78838D azure azure #78838D;/*top right bottm left*/
	border-width: medium 3px 3px;
}
/* --------------------- B Green Leaf -Label, textBox, CheckBox -----------------------------------------------------------------*/
.dijitContentPane.Mother_B {/*container frame A */
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
.MotherLabel_B .dijitInputInner{color: #FFFFFF;}/*this sets text color to white for all .dijitInputInner elements inside Label B */
.dijitTextBox.MotherLabel_B{/*All labels*/
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	 border-radius: 15px;
	 border: 1px solid;
	 background-color :transparent; /*#5C7A00;*/
	-moz-border-bottom-colors: green;
	-moz-border-image: green;
	-moz-border-left-colors: green;
	-moz-border-right-colors: green;
	-moz-border-top-colors: green;
	border-color: -moz-use-text-color green #B5BCC7;
	border-width: medium 2px 2px;
	/*color:#FFFFFF !important; NAO FAZ NADA !!!!*/
	font-family:Arial Black;
	font-size:16px;
	font-weight: bold;
	/*padding: 2px 7px 0px 7px;*/
}
.dijitTextBox.Mother_B{/*All textBox,numberBox,textArea,datetextBox,comboBox*/
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	 border-radius: 15px;
	 border: 1px solid;
	 background-color : #A6CF29;/* elements interior color*/
	-moz-border-bottom-colors: #5C7A00;
	/*-moz-border-image: #5C7A00;*/
	-moz-border-left-colors: #5C7A00;
	-moz-border-right-colors: #5C7A00;
	-moz-border-top-colors: #5C7A00;
	border-color: -moz-use-text-color #A6CF29 #A6CF29;
	border-width: medium 2px 2px;
	/*color:#FFFFFF !important; NAO FAZ NADA !!!!*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: bold;
	padding: 2px 7px 0px 7px;
}
.dijitCheckBox.Mother_B{/*All checkBoxes*/
 	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	 border-radius: 7px;
	 border: 1px solid;
	 background-color : #A6CF29;
	-moz-border-bottom-colors: #5C7A00;
	-moz-border-image: #5C7A00;
	-moz-border-left-colors: #5C7A00;
	-moz-border-right-colors: #5C7A00;
	-moz-border-top-colors: #5C7A00;
	border-color: -moz-use-text-color #A6CF29 #A6CF29;
	border-width: medium 3px 3px;
}
/* --------------------- C Winter Tree -Label, textBox, CheckBox -----------------------------------------------------------------*/
.dijitContentPane.Mother_C {/*container frame A */
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
.dijitTextBox.MotherLabel_C{/*All labels*/
	background-color :transparent; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight: bold;
	/*padding: 2px 7px 0px 7px;*/	
	text-shadow: 0px 2px 3px #555;
}
.dijitTextBox.Mother_C{/*All textBox,numberBox,textArea,datetextBox,comboBox*/
	background-color:white;/*#D7E5E5;/*azure*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border: 2px inset #0099FF ;/*thickness,border-style,color -  outset inset ridged grooved */
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: 2px 7px 0px 7px;
}
.dijitCheckBox.Mother_C{/*All checkBoxes*/
 	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	 border-radius: 7px;
	 border: 1px solid;
	 /*background-color : blue;*/
	border-color:#1947A3 #99FFCC #99FFCC #1947A3;/*top right bottm left*/
	border-width: medium 3px 1px;
}
/* --------------------- D Red Tone -Label, textBox, CheckBox -----------------------------------------------------------------*/
/*.MotherLabel_D .dijitInputInner{color: #FFFFFF;}/*this sets text color to white for all .dijitInputInner elements inside Label D */
.dijitContentPane.Mother_D {/*container frame A */
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
}
.MotherLabel_D .dijitInputInner{color: white;}/*this sets text color to white for all .dijitInputInner elements inside Label D */
.dijitTextBox.MotherLabel_D{/*All labels*/
 	font-family: Arial;
	font-size: 15px;
	line-height:30px;
	font-weight: bold;
	background-color :transparent ;/*#801A00;*/
 }
.dijitTextBox.Mother_D{/*All textBox,numberBox,textArea,datetextBox,comboBox*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	font-family: Arial;
	font-size: 12px/30px;
	font-weight: bold;
	border-color: red;
	background-color : white;
 }
 .dijitCheckBox.Mother_D{/*All checkBoxes*/
    border: 2px outset red;/*thickness,border-style,color -  outset inset ridged grooved */
    -moz-box-shadow:   3px 3px 4px  #ccc; 
	-webkit-box-shadow: 3px 3px 4px #ccc;
	box-shadow:         3px 3px 4px #ccc;
}
 /* --------------------- E Light Blue -Label, textBox, CheckBox -----------------------------------------------------------------*/
.dijitContentPane.Mother_E {/*container frame A */
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
.dijitTextBox.MotherLabel_E{/*All labels*/
 	color:black;
	font-family: Verdana;
	font-size: 13px;
	line-height:30px;
	font-weight: bold;
	background-color : azure;
	/*text-shadow: 0px 2px 3px #555;*/
	/*padding: 2px 7px 0px 7px;*/
 }
.dijitTextBox.Mother_E{/*trata de textBox,label,numberBox,textArea,datetextBox,comboBox-todos os nodes c/dijitTextBox que tenham Mother_f à esquerda*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow:    1px 1px 2px 2px #104E8B;
	-webkit-box-shadow: 1px 1px 2px 2px #104E8B;
	box-shadow:         1px 1px 2px 2px #104E8B;
	border-width: small 2px 3px;
	border-color:white;
 	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight: bold;
	padding: 2px 7px 0px 7px;
 }
 .dijitCheckBox.Mother_E{/*All checkBoxes*/
    border: 2px outset blue;/*thickness,border-style,color -  outset inset ridged grooved */
    -moz-box-shadow:   3px 3px 4px  #ccc; 
	-webkit-box-shadow: 3px 3px 4px #ccc;
	box-shadow:         3px 3px 4px #ccc;
}

/* --------------------- F Sunset -Label, textBox, CheckBox -----------------------------------------------------------------*/
.dijitContentPane.Mother_F {/*container frame A */
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
.MotherLabel_F .dijitInputInner{color: white;}/*this sets text color to white for all .dijitInputInner elements inside Label F */
.dijitTextBox.MotherLabel_F{/*All labels*/
 	/*color: white;*/
	background-color:transparent;/*#E8BF19;*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:18px;
	font-weight: bold;
}
.dijitTextBox.Mother_F{/*All textBox,numberBox,textArea,datetextBox,comboBox*/
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	border: 2px outset yellow ;/*thickness,border-style,color -  outset inset ridged grooved */
	background-color:#ECCB45;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: 2px 7px 0px 7px;
}
.dijitCheckBox.Mother_F{/*All checkBoxes*/
 	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	 border-radius: 7px;
	 border: 1px solid;
	border-color:#E8BF19 brown brown #E8BF19;/*top right bottm left*/
	border-width: medium 3px 4px;
}

/* --------------------- buttons for ABCDEF -----------------------------------------------------------------*/
.dijit.dijitReset.dijitButton .dijitReset.dijitInline.dijitButtonNode.Mother_A {/* button overall area*/
	/*background: blue; /* */
	background-image: linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -o-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, rgb(136,151,174)),
		color-stop(0.58, rgb(156,167,186)),
		color-stop(0.83, rgb(175,182,195))
	);
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
   	/*padding-left:1px; */
   	padding:1px 1px 1px 1px; /*this will set the around area we see in a hovered button to 1px*/
	/*background-color : red; /*aliceblue*/
 }
 
.dijitReset.dijitInline.dijitButtonNode.Mother_A .dijitButtonText{/* button label area - fully tested */
	/*background: yellow; /**/
	/*color:red; /**/
	background: transparent;
	color:white;
	/*font-family:Georgia;/* Georgia, Impact, times, "courier", "arial","Comic Sans MS", cursive, sans-serif*/
	/*font-size:12px;/* */
}
.dijitReset.dijitInline.dijitButton.dijitButtonHover .Mother_A .dijitButtonContents{/* button hover area*/
	/*background: #FF00FF; /*purple=FF00FF or #8897AE;*/
	background-image: linear-gradient(top, #EBE4E4,  #8897AE 15%);
	background-image: -o-linear-gradient(top, #EBE4E4,  #8897AE 15%);
    background-image:-moz-linear-gradient(top, #EBE4E4, #8897AE 15%);/* */
	background-image: -webkit-linear-gradient(top, #EBE4E4, #8897AE 15%);
	background-image: -ms-linear-gradient(top, #EBE4E4, #8897AE 15%);
}
.dijitButtonNode.Mother_A ._H1{/* button overall highlight*/
 	background: #9DBDFF; /* */
 	
 	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	
}
 /*
 .dijitButtonNode.Mother_A ._H1 .dijitReset.dijitInline.dijitButtonText{/* button label highlight *
	background: yellow; 
	color:red; 
 }
 */
 .dijitReset.dijitInline.dijitButton.dijitButtonHover .dijitButtonNode.Mother_A ._H1{/* button hover highlight*/
 	background: #9DBDFF; /* */
 }

/* --------- B ------------ */
.dijit.dijitReset.dijitButton .dijitReset.dijitInline.dijitButtonNode.Mother_B {/* button overall area*/
	background-image: linear-gradient(bottom, rgb(121,170,8) 21%, rgb(121,170,8) 61%);
	background-image: -o-linear-gradient(bottom, rgb(121,170,8) 21%, rgb(121,170,8) 61%);
	background-image: -moz-linear-gradient(bottom, rgb(121,170,8) 21%, rgb(121,170,8) 61%);
	background-image: -webkit-linear-gradient(bottom, rgb(121,170,8) 21%, rgb(121,170,8) 61%);
	background-image: -ms-linear-gradient(bottom, rgb(121,170,8) 21%, rgb(121,170,8) 61%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.21, rgb(121,170,8)),
		color-stop(0.61, rgb(121,170,8))
	);
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	 border-radius: 15px;
	 border: 1px solid;
	 /*background-color : #A6CF29;/* elements interior color é sobreposto por background-image*/
	-moz-border-bottom-colors: #5C7A00;
	/*-moz-border-image: #5C7A00;*/
	-moz-border-left-colors: #5C7A00;
	-moz-border-right-colors: #5C7A00;
	-moz-border-top-colors: #5C7A00;
	border-color: -moz-use-text-color #A6CF29 #A6CF29;
	border-width: medium 2px 2px;
}
.dijitReset.dijitInline.dijitButtonNode.Mother_B .dijitButtonText{/* button label area - fully tested */
	color: white;
    background-color:#7AAA08; /* #A6CF29;*/
	font-family:Arial;
	font-size:18px;
	font-weight: bold;
}
.dijitReset.dijitInline.dijitButton.dijitButtonHover .Mother_B .dijitButtonContents{/* button hover area*/
 	/*background-color : #405500;*/
	font-family:Arial Black;
	font-size:15px;
	font-weight: bold;
	padding: 1px 6px 0px 6px;
}
/* --------- C ------------ */
.dijit.dijitReset.dijitButton .dijitReset.dijitInline.dijitButtonNode.Mother_C {/* button overall area*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border: 2px inset #0099FF ;/*thickness,border-style,color -  outset inset ridged grooved */
	background-color :aliceblue;/* aliceblue; aliceblue*/
	border-width: medium 2px 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif, bold;
	font-size:18px;
	font-weight: bold;
	padding: 1px 2px 0px 2px;
}
.dijitReset.dijitInline.dijitButtonNode.Mother_C .dijitButtonText{/* button label area - fully tested */  
     background: transparent; /* #8897AE #C8D3D3*/
 }
.dijitReset.dijitInline.dijitButton.dijitButtonHover .Mother_C .dijitButtonContents{/* button hover area*/
     /*background: #8897AE; /* #8897AE #C8D3D3*/
     background-image: linear-gradient(top,  #cdf5fa, #8cadb3 18%);
	background-image: -o-linear-gradient(top, #cdf5fa, #8cadb3 18%);
    background-image: -moz-linear-gradient(top, #cdf5fa, #8cadb3 18%);/*A3ECF7*/
	background-image: -webkit-linear-gradient(top, #cdf5fa, #8cadb3 18%);
	background-image: -ms-linear-gradient(top,  #cdf5fa, #8cadb3 18%);

 }
 /* --------- D ------------ */
.dijit.dijitReset.dijitButton .dijitReset.dijitInline.dijitButtonNode.Mother_D {/* button overall area*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	background-image: linear-gradient(bottom, rgb(98,8,0) 0%, rgb(209,79,72) 67%);
	background-image: -o-linear-gradient(bottom, rgb(98,8,0) 0%, rgb(209,79,72) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(98,8,0) 0%, rgb(209,79,72) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(98,8,0) 0%, rgb(209,79,72) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(98,8,0) 0%, rgb(209,79,72) 67%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(98,8,0)),
		color-stop(0.67, rgb(209,79,72))
	);
	padding: 2px;
	/*font:normal bold 12px/30px Georgia, serif;*/
	font-family: Arial;
	font-size: 24px/30px;
	font-weight: bolder;
	box-shadow:inset 0 0 3px #000000
	-moz-box-shadow:    3px 3px 5px #ccc;
	-webkit-box-shadow: 3px 3px 5px #ccc;
	box-shadow:         3px 3px 5px #ccc;
	border-color: red;
}
.dijitReset.dijitInline.dijitButtonNode.Mother_D .dijitButtonText{/* button label area - fully tested */  
}
.dijitReset.dijitInline.dijitButton.dijitButtonHover .Mother_D .dijitButtonContents{/* button hover area*/
	background-image: linear-gradient(bottom, rgb(98,8,0) 0%, rgb(98,8,0) 67%);
	background-image: -o-linear-gradient(bottom, rgb(98,8,0) 0%, rgb(98,8,0) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(98,8,0) 0%, rgb(98,8,0) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(98,8,0) 0%, rgb(98,8,0) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(98,8,0) 0%, rgb(98,8,0) 67%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(98,8,0)),
		color-stop(0.67, rgb(98,8,0))
	);
 	-moz-box-shadow:    4px 3px 5px #ccc;
	-webkit-box-shadow: 4px 3px 5px #ccc;
	box-shadow:         4px 3px 5px #ccc;
	padding: 2px 7px 0px 7px;
}
/* --------- E ------------ */
.dijitContentPane.Mother_E{/*trata do ContentPane - não esquecer que um tab widget tem contentPanes */
	background-color :#F0FFFF;/*instead of a picture we use a plain background*/
}
.dijit.dijitReset.dijitButton .dijitReset.dijitInline.dijitButtonNode.Mother_E {/* button overall area*/
    /* omiting background we keep gray gradient coming form other selectors and white flash*/
 	border: 1px solid blue; 
}
.dijitReset.dijitInline.dijitButtonNode.Mother_E .dijitButtonText{/* button label area - fully tested */  
 	color:white;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
}
.dijitReset.dijitInline.dijitButton.dijitButtonHover .Mother_E .dijitButtonContents{/* button hover area*/
}
/* --------- F ------------ */
.dijit.dijitReset.dijitButton .dijitReset.dijitInline.dijitButtonNode.Mother_F {/* button overall area*/
/*.claro.Mother .dijitButtonNode.Mother_F{/* button - selecciona todos os que tenham .dijitButtonNode e Mother_x - NOta é o span abaixo do top container do button*/
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	border: 2px outset yellow;/*thickness,border-style,color -  outset inset ridged grooved */
	border-width: medium 2px 3px;
	background-image: linear-gradient(bottom, rgb(141,25,25) 0%, rgb(252,138,31) 67%);
	background-image: -o-linear-gradient(bottom, rgb(141,25,25) 0%, rgb(252,138,31) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(141,25,25) 0%, rgb(252,138,31) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(141,25,25) 0%, rgb(252,138,31) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(141,25,25) 0%, rgb(252,138,31) 67%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(141,25,25)),
		color-stop(0.67, rgb(252,138,31))
	);
	/*background-color : #ECCB45;*/
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	font-weight: bold;
	padding: 2px 2px 0px 2px;
}
.dijitReset.dijitInline.dijitButtonNode.Mother_F .dijitButtonText{/* button label area - fully tested */  
/*.dijitButtonNode.Mother_F .dijitButtonContents .dijitbuttontext{/* button - selecciona todos os que tenham .dijitButtonNode e Mother_x - NOta é o span abaixo do top container do button*/
	color:white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:18px;
	font-weight: bold;
}
.dijitReset.dijitInline.dijitButton.dijitButtonHover .Mother_F .dijitButtonContents{/* button hover area*/
     background: #8d1919; /* #8897AE #C8D3D3*/
 }


/* --------------------- tabs -----------------------------------------------------------------*/
.claro.Mother .dijitTabContainer.Mother_A{/*trata de tab*/
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border: 4px inset coral ;/*thickness,border-style,color -  outset inset ridged grooved */
	 background-color : navajowhite;
	font-family:Verdana, Arial, Helvetica, sans-serif, bold;
	font-size:2.4 em;
	padding: 2px 7px 0px 7px;
}
.claro.Mother .dijitTabContainer.Mother_B{/*trata de tab, button e Grid*/
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	 border-radius: 10px;
	 border: 2px solid;
	 background-color : #99FFCC;
	-moz-border-bottom-colors: green;
	-moz-border-image: green;
	-moz-border-left-colors: green;
	-moz-border-right-colors: green;
	-moz-border-top-colors: green;
	border-color: -moz-use-text-color green #B5BCC7;
	border-width: medium 2px 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif, bold;
	font-size:14px;
	padding: 2px 7px 0px 7px;
}
.claro.Mother .dijitTabContainer.Mother_F{/*trata de tab*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border: 2px inset blue ;/*thickness,border-style,color -  outset inset ridged grooved */
	 background-color : aliceblue;
	font-family:Verdana, Arial, Helvetica, sans-serif, bold;
	font-size:12px;
	padding: 2px 7px 0px 7px;
}
.claro.Mother .dijitTabPaneWrapper.Mother_F{/*trata de tab*/
	border: 1px solid;
	-moz-border-bottom-colors: blue;
	-moz-border-image: green;
	-moz-border-left-colors: red;
	-moz-border-right-colors: yellow;
	-moz-border-top-colors: chocolate;
	background-color : navajowhite;
	border-color: -moz-use-text-color chocolate;
	border-width: medium 2px 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif, bold;
	font-size:2.4 em;
	padding: 2px 7px 0px 7px;
}
/*------------------- content Pane -----------------------------------------*/
/* http://www.stockfreeimages.com/322126/Sunset.html*/
.dijitContentPane.Mother_A{/*trata do ContentPane - não esquecer que um tab widget tem contentPanes */
	background: url("../images/Blue_tone.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.dijitContentPane.Mother_B{/*trata do ContentPane - não esquecer que um tab widget tem contentPanes */
	 /*background-color: burlywood; //goldenrod peru lightsalmon burlywood sandybrown tan*/
	 background: url("../images/Green_leaf.jpg") no-repeat center bottom fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.dijitContentPane.Mother_C{/*trata do ContentPane - não esquecer que um tab widget tem contentPanes */
	 /*background-color: burlywood; //goldenrod peru lightsalmon burlywood sandybrown tan*/
	 background: url("../images/frost.jpg") no-repeat center bottom fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.claro.Mother .dijitContentPane.Mother_D{/*trata do ContentPane - não esquecer que um tab widget tem contentPanes */
	 /*background-color: burlywood; //goldenrod peru lightsalmon burlywood sandybrown tan*/
	 background: url("../images/Redish.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.claro.Mother .dijitContentPane.Mother_F{/*trata do ContentPane - não esquecer que um tab widget tem contentPanes */
	 /*background-color: burlywood; //goldenrod peru lightsalmon burlywood sandybrown tan*/
	 background: url("../images/sunset.jpg") no-repeat center bottom fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.claro.Mother .xdijitTab{/*trata de tab, button e Grid*/
	border-width: medium 2px 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif, bold;
	font-size:2.4 em;
	padding: 2px 7px 0px 7px;
}