/* This stylesheet provides the CSS definition of every widget in Mother */	
/* For each form you can define the widgets introducing the selector Mother_+"form prefix" */	
body{ 
	/*background: transparent url("../images/blue_hills.jpg") no-repeat center center fixed; */
	width: 100%;  
	height: 100%; 
	margin: 0% 0% 0% 0%; 
	background-color:#00CFCF;/*#00CFCF; azure; */
	/*background: url("../images/Green_leaf.jpg") no-repeat center bottom fixed; */
} 
.nonModal_underlay {
    display:none
}
.claro .dijitDialog { /*without this .claro dialog boxes will be transparent...God knows why...*/
   /*background: none repeat-x scroll left top #FFFFFF; */
} 
.claro .dojoxFloatingPaneTitle { /*without this .claro dialog boxes will be transparent...God knows why...*/
   background: none repeat-x scroll left top #e8e8e8; /* #C8D3D3*/
   font-family:Georgia;
   font-size:3.4 em;
   font-weight:bold;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
} 
.claro .dojoxfloatingpane { /*without this .claro dialog boxes will be transparent...God knows why...*/
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   width:232;
} 
.dojoxFloatingPaneFg { /*without this .claro dialog boxes will be transparent...God knows why...*/
   /*-moz-box-shadow: 0px 8px 20px 8px #525252;
   -webkit-box-shadow: 0px 8px 20px #525252;/*#525252;*/
   /*-box-shadow: 0px 8px 20px 8px #525252;*/
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
} 
.claro .dijitAccordionInnerContainer { /*without this .claro dialog boxes will be transparent...God knows why...*/
   background: none repeat-x scroll left top #c7c7c7; /* #C8D3D3*/
   font-family:Georgia;
   font-weight:bold;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
} 
.claro .dijitButton .dijitButtonNode {/* button - o defaultbutton  selecciona todos os que tenham .dijitButtonNode  - NOta é o span abaixo do top container do button*/
	background-image: linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -o-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, rgb(136,151,174)),
		color-stop(0.58, rgb(156,167,186)),
		color-stop(0.83, rgb(175,182,195))
	);
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*border: 1px solid black; */
}
.claro .dijitButtonContents {/* button - selecciona todos os que tenham .dijitButtonNode e Mother_x - NOta é o span abaixo do top container do button*/
	/*border-width: medium 2px 3px;*/
	color:White;
	font-family:Arial;
	font-size:16px;
	/*padding: 2px 7px 0px 7px;*/
}

.dijitButtonHover .dijitButtonNode.Mother_null{/* button - hover over all buttons with "Mother_null"*/
    /*background: none repeat-x scroll left top #8897AE; /* #8897AE #C8D3D3*/
    background: #8897AE; /* #8897AE #C8D3D3*/
}

.dijitButtonNode.Mother_null .dijitbuttontext{/* button - selecciona todos os que tenham .dijitButtonNode e Mother_x - NOta é o span abaixo do top container do button*/
	font-family:Georgia;
 	font-size:12px;
}
.claro .MotherLabel_null { /*the labels inside FrameLink Toolbox and others*/
   /*background: none repeat-x scroll left top red; /*#e8e8e8; */
   font-family:Georgia;
   font-size:13px;
   font-weight:normal;
} 
.claro .dijitDialogTitleBar { /*without this .claro dialog boxes will be transparent...God knows why...*/
   background: none repeat-x scroll left top #c7c7c7; /* #C8D3D3 ---  #c7c7c7 is the gray header of floating frames...*/ 
   font-family:Georgia;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
} 
.claro .dijitDialog { /*without this .claro dialog boxes will be transparent...God knows why...*/
   /*background: none repeat-x scroll left top #e8e8e8; /*#c7c7c7; #C8D3D3*/
   background: none repeat scroll left top #e8e8e8; /*#c7c7c7; #C8D3D3* the light gray backgroung inside floating frames (dialog box) */
   font-family:Georgia;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
} 

/*.claro .dijitDialogPaneContent.dijitContentPaneSingleChild{ /*this will clear the different first row (why ?) inside floating panes */
/*    background: none repeat scroll left top #e8e8e8; /*#c7c7c7; #C8D3D3* the light gray backgroung inside floating frames (dialog box) */
/*}*/
.claro .dijitDialogPaneContent.dijitDialogSingleChild { /*without this .claro dialog boxes will be transparent...God knows why...*/
   background: none repeat scroll left top #e8e8e8; /* #C8D3D3 the light gray background of floating frames */
   font-family:Georgia;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
} 
.claro .dijitButton .dijitButtonNode.Mother_null{/* button - The default with null template*/
	background-image: linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -o-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, rgb(136,151,174)),
		color-stop(0.58, rgb(156,167,186)),
		color-stop(0.83, rgb(175,182,195))
	);}
.claro .dijit.dijitReset.dijitButtonHover.dijitButton .dijitButtonNode{/* buttonHover -The default with null template*/
     background: #8897AE; /* #8897AE #C8D3D3*/
}
/* ------------------------------- Frame properties window ------------------------------------------------- */
#_fprop_PaneId .MotherLabel_null { /*without this .claro dialog boxes will be transparent...God knows why...*/
   background: none repeat-x scroll left top #e8e8e8; 
   font-family:Georgia;
   font-size:12px;
} 
#_fprop .dijitButtonHover .dijitButtonNode{/* button - hover buttons in Frame properties window*/
    /*background: none repeat-x scroll left top #8897AE; /* #8897AE #C8D3D3*/
    background: #8897AE; /* #8897AE #C8D3D3*/
}

#_fprop_DialogId .dijitDialogPaneContent { /*Frames8.js properties debaixo do DialogTitleBar e serve para quê ?*/
   background: none repeat-x scroll left top #e8e8e8; 
}
#_fprop_DialogId.dijitDialog { /*Frames8.js properties debaixo do DialogTitleBar e serve para quê ?*/
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#_fprop_DialogId .dijitButtonNode { /*to change the de onde aparece isto ? debaixo do DialogTitleBar e serve para quê ?*/
	background-image: linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -o-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, rgb(136,151,174)),
		color-stop(0.58, rgb(156,167,186)),
		color-stop(0.83, rgb(175,182,195))
	);
} 
#_fprop_DialogId .dijitButtonContents { /*to change the de onde aparece isto ? debaixo do DialogTitleBar e serve para quê ?*/
	color:White;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1.6em;
} 

#_fprop_DialogId .dijitComboBox { /*de onde aparece isto ? debaixo do DialogTitleBar e serve para quê ?*/
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
#_fprop_DialogId .dijitComboBox .dijitInputInner { /*de onde aparece isto ? debaixo do DialogTitleBar e serve para quê ?*/
	font-size: 11px;
}
#_fprop_DialogId .dijitComboBox .dijitDownArrowButton { /*de onde aparece isto ? debaixo do DialogTitleBar e serve para quê ?*/
  /*width:12px;*/
  background: White; 
}

/* ------------------------------- editFBuilder Container properties window ------------------------------------------------- */
#_fx_DialogId .dijitDialogPaneContent { /*de onde aparece isto ? debaixo do DialogTitleBar e serve para quê ?*/
   background: none repeat-x scroll left top #e8e8e8;/*#e8e8e8*/ 
}
#_fx_DialogId.dijitDialog { /*Frames8.js properties debaixo do DialogTitleBar e serve para quê ?*/
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#_fx_PaneId .MotherLabel_null { /*without this .claro dialog boxes will be transparent...God knows why...*/
   background: none repeat-x scroll left top #e8e8e8; 
   font-family:Georgia;
   font-size:12px;
} 
#_fx_PaneId .dijitTextArea { /*without this .claro dialog boxes will be transparent...God knows why...*/
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
} 

#_prop_DialogId .dijitDialogPaneContent { /*de onde aparece isto ? debaixo do DialogTitleBar e serve para quê ?*/
   background: none repeat-x scroll left top #e8e8e8;/*#e8e8e8*/ 
}
#_prop_DialogId.dijitDialog { /*Frames8.js properties debaixo do DialogTitleBar e serve para quê ?*/
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#_prop_PaneId .MotherLabel_null { /*without this .claro dialog boxes will be transparent...God knows why...*/
   background: none repeat-x scroll left top #e8e8e8; 
   font-family:Georgia;
   font-size:12px;
} 
#_prop_PaneId .Mother_null { /* this covers .dijitTextArea or .digitTextBox*/
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
} 
#_prop_PaneId .dgrid-header-row { /* this covers dgrid rows even, inside properties window*/
   font-family:Georgia;
   font-size:3.4 em;
   font-weight:bold;   
}
#_prop_PaneId .dgrid-row-even { /* this covers dgrid rows even, inside properties window*/
   background: none repeat-x scroll left top #DCE4F5; 
}
#_prop_PaneId .dgrid-row-odd { /* this covers dgrid rows even inside properties window*/
   background: none repeat-x scroll left top #C9D1E0; 
}  
#_prop_PaneId .dgrid-cell { /* this covers dgrid rows even inside properties window*/
   font-family: Georgia;
   font-size:12px;
}
#_frame .dijitButton .dijitButtonNode { /* the red button for frame edition inside form id="_frame", inside class digitbutton, inside class framebutton*/
     border: 1px solid black; 
}  
#_frame .dijitButton .frameButton{ /* the red button for frame edition inside form id="_frame", inside class digitbutton, inside class framebutton*/
    background: none repeat-x scroll left top red; /*background-color: red; */
    border: 1px solid black; 
}  
.claro .xdijitreset.dijitinputfield.dijitinputcontainer{ /*without this .claro dialog boxes will be transparent...God knows why...*/
   background: none repeat-x scroll left top #0000FF; 
   font-family:Georgia;
} 
.claro .xdijitreset.dijitinputinner{ /*without this .claro dialog boxes will be transparent...God knows why...*/
   font-family:Arial;
   font-size:10px;
   font-weight:bold;
} 
#header-container {
	width: 100%;
	/*height:55px;*/
	height: 10%;
	min-height:55px;/* to defend logo height*/
	/*background-color:gray;/*test color*/
	background-color:black;/* #000000;*/
}
	#header{
		/*position:absolute;*/
		/*background-repeat: no-repeat;*/
		width: 100%;
		height: 50%;
		/*margin: auto;*/
	}
		#before-logo{
			float: left;
			width: 70%;
			display:inline-block;
			/*background-color:red;/*test color*/
			background-color:black;
		}
		#logo-container{
			float: left;
			width: 25%;
			/*background-color:pink;/*test color*/
			background-color:black;
			/* min-width:300px;*/
		}		
			#logo{
				float: left;
				/*padding-top: 5%;*/
				/*border-style:solid;*/
				margin-left: 55%;
				/*width: 15%;*/
			}
		#after-logo{
			float: left;
			width: 5%;
		}			
#subheader-container {
	width: 100%; /* ok working*/
	height:5%; /* working */
	min-height:5px;
	background-color:#333333;
	/*background-color:crimson;*/ /*tests color*/
	/*white-space:nowrap;*/ /* prevents spliter in text such as "about US" where there's a white space between the two words"*/
	/*overflow:hidden */  /*if hidden it will be impossible to have horizontal menus */
}
	#subheader{
		width: 100%; /* ok working*/
		/*display:inline-block;*/

		/*height: 40px; */
		/*padding-top: 2%;*//*this sets the distance to the nested element (nav_container-gold) */
		/*overflow:auto;*/
		/*background-color:#333333;*/
		/*background-color:green;
		/*overflow:auto */
	}
		#before-nav {
			float: left;
			width: 2%;
			height:50%; 
			/*background-color:#333333;*/
			min-width:50px;
			display:inline-block;
			/*background-color:plum; /*tests color*/
			
		}
		#nav_container{
			/*margin-top:0px;*/
		/*float: left;*/
			/*padding-top:0%;*/ /*this sets the distance to the nested element (nav-blue) */
			/*padding-left:3%; */ /* ok moves the menu border out of margin */
			/*width:40%;*/ /* nav_container is 100% of subheader*/
			width:48%;
			height:100%; 
			min-width:290px;
			display:inline-block;

			/*margin-left: 5%;*/
			/*height:20px;*/
			/*border:1px solid #333333;*/
			background:#333333;
			/*background:gold;  color for tests*/
		}
			#bootSnav{/* the ul element*/
				margin-left: 0;
				padding-left: 0;
				white-space: nowrap; /* prevents spliter in text such as "about US" where there's a white space between the two words"*/
				display:inline-block;
				/*overflow:hidden;*/
				/*min-height:20px;*/
				/*background-color:#999;*/
				/*background-color:blue;*/
			}
				#bootSnav li { /*http://css.maxdesign.com.au/listamatic/horizontal02.htm*/   
					display: inline; 
					list-style-type: none;
					/*float:left;*/
					/*height:18px`*/
					/*height:80%;*/
					/*width:auto;*/
					/*margin:0.9em;*/ /*distance between the li elements*/
					/*line-height:15px;*/
					/*background-color:purple;*/

				}
				#xbootSnav li a{
					text-shadow: 0 2px 1px rgba(0,0,0,0.5);         
					display: block;         
					text-decoration: none;         
					color: lime;         
					font-size: 1.5em;         
					margin: 0 .2em; 
				} 
				#bootSnav li a:hover {
					margin-top: 1px; 
					margin-left: 1px; 
				} 		
		#after-nav{
			float: right;*/
			width: 20%;
			height:1px; 
			min-width:100px;
			background-color:#333333;
			/*background-color:cyan;*/  /* test color*/
			vertical-align:top;
			display:inline-block;
		}			

#working-container {
	width: 100%; /* ok working*/
	height:70%;
	/*padding-top:2%;*/ /*se for 0% aparece um border de background em cima e em baixo - se for 1% só aparece só baixo - se for 2% desaparece mas o texto começa 2% abaixo...
	/*height: 50%; //* nothing changes */ 
	/*height: 400px;*/ /* working */
	background-color:darkorange;/* se mudar para pink e puser padding top=0% pode-se ver o problema */
	/*background-color:crimson;*/
	/*overflow:auto */
}				
#footer {
	position:absolute;
	/*top:85%;*/
	width: 100%;
	/*height: 200px;*/
	height: 15%;
	background-color: #333333;
}
/*.dijitTextBox.MotherLabel__1.dijitInputInner {/*Do not change selector! This will be read by FBuilder*/
#_fprop_DialogId .dijitTextBox.MotherLabel__1 {/*Do not change selector! This will be read by FBuilder*/
	background: transparent;
	padding: 2px;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height:30px;
	font-weight: normal;
	text-align:right;
	color:red;
}
#_fprop_DialogId .dijitTextBox.MotherLabel__1 .dijitInputInner._H1 {/*Do not change selector! This will be read by FBuilder*/
/*.claro .dijitTextBox.MotherLabel__1 .dijitInputInner._H1 {/*Do not change selector! This will be read by FBuilder*/
	font-size: 16px;
	font-weight: bold;
	color:black;
}
#_fprop_DialogId .dijit.dijitReset.dijitButton .dijitReset.dijitInline.dijitButtonNode.Mother__1 {/* button overall area */
	/*background-image: linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);*/
	background-image: -o-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);*/
	/*background-image: -moz-linear-gradient(bottom, rgb(136,151,174) 12%, rgb(255,0,0) 88%, rgb(255,0,0) 88%);*/
	background-image: -webkit-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(136,151,174) 32%, rgb(156,167,186) 58%, rgb(175,182,195) 83%);
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
   	padding:0px 0px; /*this will set the around area to 0px*/
    /*border: 1px solid none; */
}
#_fprop_DialogId .dijitReset.dijitInline.dijitButtonNode.Mother__1 .dijitButtonText{/* button label area */
	font-size: 10px;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	color:yellow;
}
#_fprop_DialogId .dijitReset.dijitInline.dijitButton.dijitButtonHover .Mother__1 .dijitButtonContents {/* button hover area  */
	background-image: linear-gradient(top, #EBE4E4,  #8897AE 15%);
	background-image: -o-linear-gradient(top, #EBE4E4,  #8897AE 15%);
    background-image:-moz-linear-gradient(top, #EBE4E4, #8897AE 15%);/* */
	background-image: -webkit-linear-gradient(top, #EBE4E4, #8897AE 15%);
	background-image: -ms-linear-gradient(top, #EBE4E4, #8897AE 15%);
}
#_fprop_DialogId .dijitButtonNode.Mother__1 ._H1{/* button overall highlight*/
    background:#CBCFD6;/*#8897AE */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*border: 5px solid none; */
 }
#_fprop_DialogId  .dijitReset.dijitInline.dijitButton.dijitButtonHover .dijitButtonNode.Mother__1 ._H1{/* button hover highlight*/
    background:#CBCFD6;/*#CBCFD6 */
}
#_fprop_DialogId .dijitButtonNode.Mother__1 ._H2{/* button overall highlight*/
    background:#B8BABF;/*#8897AE */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*border: 5px solid none; */
 }
#_fprop_DialogId  .dijitReset.dijitInline.dijitButton.dijitButtonHover .dijitButtonNode.Mother__1 ._H2{/* button hover highlight*/
    background:#B8BABF;/* */
}

