
<li id="title" class="draggable ui-state-default">
	<a href="javascript:void(0)" class ="grow">
		<img src="images/img_Text.png" class="img-rounded" alt = ""/>
	</a>
</li>

		<li id="images" class="draggable ui-state-default">
	<a href="javascript:void(0)" class ="grow">
			<img src="images/img_Image.png" class="img-rounded" alt = ""/>
	</a>
</li>

<li id="TextPlusImage" class="draggable ui-state-default">
	<a href="javascript:void(0)" class ="grow" >
			<img src="images/img_TextPlusImage.png" class="img-rounded" alt = ""/>
	</a>
</li>

<li id="ImageCard" class="draggable ui-state-default">
	<a href="javascript:void(0)" class ="grow">
			<img src="images/img_ImageCard.png" class="img-rounded" alt = ""/>
	</a>
</li>

<li id="Divider" class="draggable ui-state-default">
	<a href="javascript:void(0)" class ="grow">
			<img src="images/img_Divider.png" class="img-rounded" alt = ""/>
	</a>
</li>

<li id="Gallery" class="draggable ui-state-default">
	<a href="javascript:void(0)" class ="grow">
			<img src="images/img_Gallery.png" class="img-rounded" alt = ""/>
	</a>
</li>

<li id="Button" class="draggable ui-state-default">
	<a href="javascript:void(0)" class ="grow">
			<img src="images/img_Button.png" class="img-rounded" alt = ""/>
	</a>
</li>

<li id="Video" class="draggable ui-state-default">
	<a href="javascript:void(0)" class ="grow">
			<img src="images/img_Video.png" class="img-rounded" alt = ""/>
	</a>
</li>

<li id="SocialLinks" class="draggable ui-state-default">
	<a href="javascript:void(0)" class ="grow">
			<img src="images/img_SocialLink.png" class="img-rounded" alt = ""/>
	</a>
</li>

<div id="background">
	<div id="color"></div>
	<div>
		<input type="text" id="colorCode"/>
	</div>
</div>

<div id="headingTextColor">
	<div id="textcolor"></div>
	<div>
		<input type="text" id="colorCode"/>
	</div>
</div>

<select id="fontfamily">
	<option value="">Select</option>
</select>

<select  id="fontsize">
	<option value="">Select</option>
</select>

<select id="fontstyle">
	<option value="">Select</option>
</select>

<select  id="fontweight">
	<option value="">Select</option>
</select>

<select id="lineheight">
	<option value="">Select</option>
</select>

<select id="letterspacing">
	<option value="">Select</option>
</select>

<div id="textalign"></div>

<select id="textdecoration">
	<option value="">Select</option>
</select>

<div class="titleDroppedItem droppedObject ui-state-default" id="titleDroppedItem"> 
	Put your Text Here 
</div>

<div id="imageDroppedItem" class="imageDroppedItem droppedObject ui-state-default"> 
	<center> 
		<img src='../MailerTemplate/images/img_Image.png' /> 
	</center> 
</div>

<div id="TextPlusImageDroppedItem" class="TextPlusImageDroppedItem droppedObject ui-state-default">  
	<p  style='text-align:left;'>
		This is some text. 
		<img src='../MailerTemplate/images/img_Image.png' alt='Smiley face' align='left'>
		<br/><br/><br/><br/><br/><br/><br/> 
		This is some text.
	</p>  
</div>

<div id="ImageCardDroppedItem" class="ImageCardDroppedItem droppedObject ui-state-default"> 
	<center>
		<div> 
			<img src='../MailerTemplate/images/img_Image.png' />
		</div>
		<div>
			Some Text
		</div> 
	</center> 
</div>

<div id="ButtonDroppedItem" class="ButtonDroppedItem droppedObject ui-state-default"> 
	<center> 
		<input type='Button' value='Button' /> 
	</center> 
</div>


<div id="SocialLinksDroppedItem" class="SocialLinksDroppedItem droppedObject ui-state-default"> 
	<p > 
		<a href="https://twitter.com/login"><img src='../MailerTemplate/images/Twitter.png' alt='Twitter' /> </a>
		<img src='images/Twitter.png' alt='Twitter'/>  
		<img src='images/Twitter.png' alt='Twitter'/>  
		<img src='images/Twitter.png' alt='Twitter'/>  
	</p> 
</div>

<div id="VideoDroppedItem" class="VideoDroppedItem droppedObject ui-state-default"> 
	<center> 
		<video src='../MailerTemplate/images/a.mp4' height='200px' width='300px' controls></video> 
	</center> 
</div>

<div id="DividerDroppedItem" class="DividerDroppedItem droppedObject ui-state-default"> 
	<hr > 
</div>

